{% extends "base.html" %}

{% block content %}
<section class="contact-form">
  <h1>Cadastrod de Produto</h1>
  <p>Preencha todas as tabelas</p>

  <form>
    <div class="input-group">
      <label for="name">Nome Produto</label>
      <input id="produto" name="produto" type="text"/>
    </div>
    <div class="input-group">
      <label for="name">Descrição</label>
      <textarea id="descricao" name="descricao" type="text" rows="4" cols="65"></textarea>
    </div>

    <div class="input-group">
      <label for="name">Marca</label>
      <input id="marca" name="marca" type="text"/>
    </div>

    <div class="input-group">
      <label for="name">Preço de Custo</label>
      <input id="preco_custo" name="preco_custo" type="text"/>
    </div>

    <div class="input-group">
      <label for="name">Preço de Venda</label>
      <input id="preco_venda" name="preco_venda" type="text"/>
    </div>
    <div class="input-group">
      <label for="name">Arquivo de Imagem</label>
      <input id="imagem" name="imagem" type="file"/>
    </div>

    <div class="input-group">
      <label for="name">embalagens:  </label>
      <select id="embalagens" name="embalagens" aria-controls="data" class="form-select form-select-sm">
        <option value="UN">Unidade</option>
        <option value="CX">Caixa</option>
        <option value="KG">Kilograma</option>
        <option value="PT">Palete</option>
      </select>
    </div>
    <div class="input-group">
        Outro:<input id="emb_outro" name="emb_outro" type="text" SIZE=10 MAXLENGTH=2>
    </div>

    <input name="secret" type="hidden" value="1b3a9374-1a8e-434e-90ab-21aa7b9b80e7"/>
    <button type="submit">Salvar</button>
  </form>
</section>


<script>
function handleFormSubmit(event) {
  var Img = $('input[name="imagem"]').get(0).files[0];
  event.preventDefault();

  const data = new FormData(event.target);

  const formJSON = Object.fromEntries(data.entries());

  data.append('img', Img);
  var formData = new FormData();
  formData.append("file", Img);
  formData.append("data", JSON.stringify(formJSON));
  $.ajax({
    type: 'post',
    url: '/api/savedata',
    data: formData,
    contentType: false,
    processData: false,
    datatype: 'formData',
    dataType: "json",
    sucess: function(){alert("Salvo com sucesso");},
    error: function(errMsg){
      alert("Erro ao salvar");
    }
  });
   $(document).ajaxSuccess(function(){
      alert("Salvo com Sucesso");
    });
}

const form = document.querySelector('.contact-form');
form.addEventListener('submit', handleFormSubmit);
</script>
{% endblock %}